.homeHeader{
    display: flex;
    align-items: center;
}

.headerItems{
    width: 100%;
    height: 100%;
    min-height: 70vh;
    display: grid;
    position: relative;
    align-items: center;
    grid-template-columns: repeat(2, 500px);
    gap: 2rem;
}

.texts {
    position: relative;
    opacity: 0;
    transform: translateX(-100%);
    animation: slideAndFade 1s ease-in-out forwards;
}
  
@keyframes slideAndFade {
    0% {
        transform: translateX(-10%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.texts h1{
    color: #fff;
    font-size: 42px;
    font-weight: 600;
    font-family: 'Noto Sans Cypro Minoan', sans-serif;
    margin-bottom: 40px;
}

.texts h2{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 40px;
}

.texts h3{
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 40px;
}


/*Boton*/
.startButton{
    position: relative;
    width: 200px;
    padding: 15px 0;
    text-align: center;
    font-weight: bold;
    border: 1px solid #338033;
    background: transparent;
    color: white;
    border-radius: 4px;
    transition: .6s;
    cursor: pointer;
    overflow: hidden;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Noto Sans Cypro Minoan', sans-serif;
}

.startButton:focus{
    outline: none;
}

.startButton:before{
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, .5);
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5s;
    filter: blur(30px);
    transform: translateX(-130px) skewX(-15deg);
}

.startButton:after{
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, .2);
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: .5s;
    filter: blur(30px);
    transform: translateX(-100px) skewX(-15deg);
}

.startButton:hover{
    background: #338033;
    cursor: pointer;
}

.startButton:hover:before{
    transform: translateX(300px) skewX(-15deg);
    opacity: .6;
    transition: .7s;
}

.startButton:hover:after{
    transform: translateX(300px) skewX(-15deg);
    opacity: 1;
    transition: .7s;
}


/*Imagen*/
.headerImg{
    float: left;
    display: flex;
    position: relative;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

.headerImg img{
    width: 500px;
    height: auto;
}



/*Responsive settings*/
@media (max-width:1460px){
    .homeHeader{
        
        transition: .2s;
    }
}

@media (max-width: 1340px){
    .headerImg img{
        width: 400px;
        height: auto;
    }
    .texts h1{
        font-size: 27px;
        margin: 0 0 30px;
    }
    .texts h2{
        font-size: 22px;
        margin-bottom: 20px
    }
    .texts h3{
        font-size: 15px;
        margin-bottom: 25px;
    }
}

@media (max-width: 1195px){
    .homeHeader{
        padding: 0 3%;
        transition: .2s;
    }
    .texts{
        padding-top: 45px;
    }
    .headerImg{
        padding-top: 10px;
        justify-content: center;
    }
    .headerImg img{
        width: 350px;
        height: auto;
    }
    .headerItems{
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }
    .startButton{
        width: 150px;
        font-size: 13px;
    }
}

@media (max-width: 680px){
    .texts{
        padding-top: 15px;
    }
    .headerImg{
        padding-top: 1px;
        justify-content: center;
    }
    .headerImg img{
        width: 60%;
        height: auto;
    }
    .startButton{
        width: 100px;
        font-size: 10px;
    }
}
