.homeContainer{
    height: 100%;
    min-height: 100vh;
    display: flex;
    position: relative;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(245.59deg, #4d9559 0%, #38703d 28.53%, #133917 75.52%);
    border: none !important;
}

.homeA{
    width: 100%;
}



/* Scroll-button */
.scroll-top-button{
    position: fixed;
    right: 20px;
    bottom: 36px;
    display: grid;
    place-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid white;
    background-color: #437e44;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.9;
    visibility: hidden;
    transition: .55s;
}

.scroll-top-button{
    opacity: 1;
    visibility: visible;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.scroll-top-button:hover, .scroll-top-button:focus, .scroll-top-button:active{
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.arrowIcon{
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}