.homeNavbar{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 3px 15px 0px rgba(0,36,0,0.50);
}

.navbarItems{
    width: 100%;
    padding: 33px 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.navLogo{
    font-weight: 600;
    opacity: 0;
    translate: 0 30px;
    animation-name: slidefaster;
    animation-duration: 0.3s;
    animation-fill-mode: both;
}

.navLogo a{
    font-family: 'Noto Sans Cypro Minoan', sans-serif;
    color: white;
    text-decoration: none;
}  

@keyframes slidefaster {
    0% {
    }
    100% {
      opacity: 1;
      translate: 0 0;
    }
}

#navList{
    display: flex;
    list-style-type: none;
    opacity: 0;
    translate: 0 30px;
    animation-name: slidefaster;
    animation-delay: 0.2s;
    animation-duration: 0.3s;
    animation-fill-mode: both;
}

#navList a{
    color: #fff;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 500;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
    cursor: pointer;
    font-family: 'Noto Sans Cypro Minoan', sans-serif;
    text-decoration: none;
}

#navList a:hover{
    border-bottom: 2px solid white;
    transition: all .55s ease;
}

#navList i{
    display: none;
    color: #fff;
    text-decoration: none;
    width: 14px;
    height: 14px;
}

#navIcon{
    color: #fff;
    font-size: 30px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

#navIcon i{
    align-items: center;
}



/*Responsive settings*/
@media (max-width:1535px){
    .navbarItems{
        padding: 15px 3%;
        transition: .2s;
    }
}

@media screen and (max-width:990px){
    .homeNavbar{
        z-index: 1001;
        position: sticky;
        top: 0;
        background-color: #387442;
    }
    #navList{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        transition: all .55s ease;
        position: fixed;
        top: 100px;
        right: -300px;
        width: 250px;
        height: 100vh;
        background: #4d9559;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 40px 0 0 10px;
        transition: all 0.55s ease-in-out;
    }
    #navList.active{
        right: 0px;
    }
    #navList li{
        margin-bottom: 15px;
        display: flex; 
        align-items: center;
        margin-left: 20px;
    }
    #navList a{
        margin-left: 30px;
        float: right;
    }
    #navList li i{
        display: block;
        text-align: center;
        margin-right: 10px;
        margin-left: 10px;
        float: right;
    }
    #navList li a{
        margin-right: 10px;
        margin-left: 10px;
    }
    #navIcon{
        display: block;
        opacity: 0;
        translate: 0 30px;
        animation-name: slidefaster;
        animation-duration: 0.3s;
        animation-fill-mode: both;
    }
    #navIcon i{
        font-size: 24px;
        cursor: pointer;
    }
}

@media (max-width: 680px){
    .navLogo{
        font-size: 25px;
    }
    #navList{
        width: 200px;
    }
    #navList a{
        margin-left: 15px;
    }
}