.navbar{
    height: 100px;
    display: flex;
    justify-content: center;
}

.navContainer{
    width: 100%;
    max-width: 1024px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-weight: 500;
}



a{
    color: white;
    text-decoration: none;
}